<ion-header>
  <ion-toolbar color="dark">
    <ion-title><b>GreenTax TRL</b></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom:0.7; padding-left: 15px; padding-right: 15px; font-size: 2em;"
        (click)="touchVoltarModal()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <span style="text-align: justify;">{{trl1}}</span>
    </ion-item>
  </ion-card>
  <canvas #barCanvas></canvas>
</ion-content>
