<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Resultados</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom:0.7; padding-left: 15px; padding-right: 15px; font-size: 2em;"
        (click)="touchVoltarModal()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas #barCanvas></canvas>
</ion-content>

<ion-content>
  <div class="flex-center">
    <ion-icon name="checkmark-circle" color="success"></ion-icon>
    <div class="ion-padding">
      <ion-text color="dark">
        <h2 class="bold">
          Concluido com sucesso!
        </h2>
      </ion-text>
    </div>
  </div>
</ion-content>